body * {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;  
  line-height: 1.4rem;
  box-sizing: border-box;
}

body {
  background: #efefef;
  color: rgba(58, 58, 58, 1);
  margin: 0;
}

body:before {
  content: '';
  display: block;
  position: fixed;
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 3.125rem rgba(0, 0, 0, 0.55);
}

a {
  color: #0074D9;
  text-decoration: none;
  font-size: 0.85rem;
  opacity: 0.75;
  transition: ease-in-out 0.6s;
}

a:hover {
  transition: ease-in-out 0.6s;
  opacity: 1;
}

.container {
  width: 90%;
  max-width: 80rem; 
  margin: 0 auto;
}

.dynamic-grid {
  position: relative;
  z-index: 1;
  columns: 15rem 3; 
  column-gap: 0.9375rem; 
  padding-top: 2rem;
}

.grid-item {
  position: relative;
  display: inline-block;
  margin: 0 0.5rem 1rem;
  max-width: 100%;
  
}

.grid-item .inner {
  padding: 1rem;
}

.content-box {
  border: 0 solid rgba(230, 230, 230, 1);
  background-color: rgba(255, 255, 255, 1);
  
  box-shadow: 0 -0.0625rem 0.125rem rgba(58, 58, 58, 0.1), 0.0625rem 0.0625rem 0.125rem rgba(58, 58, 58, 0.1);
}

.content-box:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4rem;
  left: 0;
  top: 0;
}

.content-box-thumb {
  display: block;
  max-width: 100%;
  height: auto;
}

.content-box-header {
  font-size: 1rem;
  margin: 0.75rem 0rem 0rem 0rem;
}

.content-box-blurb {
  font-size: 0.85rem;
  display: block;  
  margin: 0rem;
  max-width: 100%;  
  line-clamp: 3;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.readmore-link {
  display: block;
  margin: 0.3125rem 0.3125rem 0 0.3125rem; 
  text-align: right;
}